In [1]:

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import numpy as np
import pandas as pd
import seaborn as sns
import scanpy as sc
from glob import iglob
import anndata
#import scrublet as scr # requires 'pip install scrublet'
import os
import sklearn
from sklearn.linear_model import LogisticRegression
import matplotlib as mpl
import scipy
import matplotlib.pyplot as plt
import pickle
np.random.seed(0)

sc.settings.verbosity = 3  # verbosity: errors (0), warnings (1), info (2), hints (3)
sc.logging.print_versions()
sc.settings.set_figure_params(dpi=100)  # low dpi (dots per inch) yields small inline figures

-----
anndata     0.8.0
scanpy      1.9.1
-----
PIL                         9.0.1
asciitree                   NA
asttokens                   NA
backcall                    0.2.0
beta_ufunc                  NA
binom_ufunc                 NA
bottleneck                  1.3.4
cairo                       1.21.0
cffi                        1.15.0
cloudpickle                 2.0.0
colorama                    0.4.4
cycler                      0.10.0
cython_runtime              NA
cytoolz                     0.11.0
dask                        2022.02.1
dateutil                    2.8.2
debugpy                     1.5.1
decorator                   5.1.1
defusedxml                  0.7.1
entrypoints                 0.4
executing                   0.8.3
fasteners                   0.17.3
fsspec                      2022.02.0
google                      NA
h5py                        3.6.0
igraph                      0.9.11
ipykernel                   6.9.1
ipython_genutils            0.2.0
ipywidgets                  7.6.5
jedi                        0.17.2
jinja2                      2.11.3
joblib                      1.1.0
jupyter_server              1.13.5
kiwisolver                  1.3.2
leidenalg                   0.8.10
llvmlite                    0.38.0
louvain                     0.7.1
markupsafe                  2.0.1
matplotlib                  3.5.1
matplotlib_inline           NA
mkl                         2.4.0
mpl_toolkits                NA
msgpack                     1.0.2
natsort                     8.1.0
nbinom_ufunc                NA
nt                          NA
ntsecuritycon               NA
numba                       0.55.1
numcodecs                   0.10.0
numexpr                     2.8.1
numpy                       1.21.5
packaging                   21.3
pandas                      1.4.2
parso                       0.7.1
pickleshare                 0.7.5
pkg_resources               NA
prompt_toolkit              3.0.20
psutil                      5.8.0
pure_eval                   0.2.2
pydev_ipython               NA
pydevconsole                NA
pydevd                      2.6.0
pydevd_concurrency_analyser NA
pydevd_file_utils           NA
pydevd_plugins              NA
pydevd_tracing              NA
pygments                    2.11.2
pyparsing                   3.0.4
pythoncom                   NA
pytz                        2021.3
pywintypes                  NA
scipy                       1.7.3
seaborn                     0.11.2
session_info                1.0.0
setuptools                  61.2.0
setuptools_scm              NA
six                         1.16.0
sklearn                     1.0.2
snappy                      NA
sphinxcontrib               NA
stack_data                  0.2.0
statsmodels                 0.13.2
tblib                       1.7.0
texttable                   1.6.4
threadpoolctl               2.2.0
tlz                         0.11.0
toolz                       0.11.2
tornado                     6.1
traitlets                   5.1.1
typing_extensions           NA
wcwidth                     0.2.5
win32api                    NA
win32com                    NA
win32security               NA
yaml                        6.0
zarr                        2.12.0
zipp                        NA
zmq                         22.3.0
zope                        NA
-----
IPython             8.2.0
jupyter_client      6.1.12
jupyter_core        4.9.2
jupyterlab          3.3.2
notebook            6.4.8
-----
Python 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
Windows-10-10.0.19044-SP0
-----
Session information updated at 2022-07-11 14:26

In [2]:
id ={}
id['220615'] = 'control'
id['220623'] = 'control'
id['220628'] = 'control'

In [3]:
data1 = sc.read_10x_mtx('./220615/',var_names= 'gene_symbols',cache=True)

... writing an h5ad cache file to speedup reading next time

In [6]:
data1.obs

Empty DataFrame
Columns: []
Index: [AAACCCAAGACCGCCT-1, AAACCCAAGCAAGTCG-1, AAACCCAAGGGAGGTG-1, AAACCCAAGGTCACTT-1, AAACCCAAGTCGCCCA-1, AAACCCACACGGCACT-1, AAACCCACATAGGCGA-1, AAACCCACATCCCGTT-1, AAACCCAGTACAGCGA-1, AAACCCAGTCAAATCC-1, AAACCCAGTCGCTCGA-1, AAACCCAGTTATCCAG-1, AAACCCATCCCAATAG-1, AAACCCATCGCTCATC-1, AAACGAAAGACCCGCT-1, AAACGAAAGCCAAGCA-1, AAACGAAAGGACAGTC-1, AAACGAAAGTGCACCC-1, AAACGAACACAAGTGG-1, AAACGAACACATACTG-1, AAACGAACACCCATAA-1, AAACGAACAGTTGTCA-1, AAACGAACATATCTGG-1, AAACGAACATATGGCT-1, AAACGAAGTCTTGAGT-1, AAACGAATCCCATAGA-1, AAACGAATCCGTAATG-1, AAACGAATCTGTGTGA-1, AAACGCTAGATACATG-1, AAACGCTAGCAAATCA-1, AAACGCTAGTGTAGAT-1, AAACGCTCAACTCATG-1, AAACGCTCATCCGATA-1, AAACGCTGTACTGTTG-1, AAACGCTGTTCATCTT-1, AAAGAACAGGTAGATT-1, AAAGAACCACTCCGGA-1, AAAGAACCAGCCTTCT-1, AAAGAACGTACTCCGG-1, AAAGAACGTCAACCTA-1, AAAGAACGTCATGACT-1, AAAGAACGTGCTCTTC-1, AAAGAACGTTTCTATC-1, AAAGAACTCGAACACT-1, AAAGAACTCTGACAGT-1, AAAGAACTCTTTGCGC-1, AAAGGATAGCATTGAA-1, AAAGGATAGCCTTGAT-1, AAAGGATAGGTAAACT-1, AAAGGATAGGTGAGCT-1, AAAGGATAGTATGACA-1, AAAGGATCAACGATCT-1, AAAGGATCAAGCCATT-1, AAAGGATCATGACTAC-1, AAAGGATGTAGACGTG-1, AAAGGATGTCCTGGTG-1, AAAGGATGTGAACGGT-1, AAAGGATGTGTTATCG-1, AAAGGATTCCGTATGA-1, AAAGGATTCTCGACCT-1, AAAGGATTCTTCACAT-1, AAAGGGCAGAAACTGT-1, AAAGGGCAGCTACGTT-1, AAAGGGCAGGTCGACA-1, AAAGGGCAGTAAACTG-1, AAAGGGCAGTAAAGCT-1, AAAGGGCAGTACCATC-1, AAAGGGCAGTTGGAGC-1, AAAGGGCAGTTGTACC-1, AAAGGGCCAAACGTGG-1, AAAGGGCCAATAGTCC-1, AAAGGGCCAATCGTCA-1, AAAGGGCCAATGGCAG-1, AAAGGGCGTAAGTCAA-1, AAAGGGCGTATGGGAC-1, AAAGGGCGTCTAGATC-1, AAAGGGCGTCTGCATA-1, AAAGGGCGTGCCAAGA-1, AAAGGGCTCGCATGAT-1, AAAGGGCTCGGATACT-1, AAAGGGCTCTACCTTA-1, AAAGGGCTCTAGCCAA-1, AAAGGGCTCTGTCGTC-1, AAAGGTAAGCAGGCTA-1, AAAGGTAAGGAATGTT-1, AAAGGTAAGGACATCG-1, AAAGGTAAGTAGAATC-1, AAAGGTAAGTCTCGTA-1, AAAGGTACAACTAGAA-1, AAAGGTACACGGAAGT-1, AAAGGTACAGAGGTAC-1, AAAGGTACATAGGAGC-1, AAAGGTACATTACGGT-1, AAAGGTAGTCGCGTTG-1, AAAGGTAGTCTAGATC-1, AAAGGTAGTGCAGGAT-1, AAAGGTAGTGCATTTG-1, AAAGGTATCATAGACC-1, AAAGGTATCGGAGATG-1, AAAGGTATCTCCCAAC-1, ...]

[15806 rows x 0 columns]

In [8]:
%%time
import os
holder = []
path = './00.data/'
files = os.listdir(path)
print(files)
for file in files:
    file_dir = os.path.join(path,file)
    print("开始处理：",file)
    holder.append(sc.read_10x_mtx(file_dir,var_names= 'gene_symbols',cache=True))
    holder[-1].var_names_make_unique()
     # Filer cells with less than 200 genes expressed
    sc.pp.filter_cells(holder[-1], min_genes=200)
    
    # Filer genes expressed in less than 3 cells
    sc.pp.filter_genes(holder[-1], min_cells=3)
     ##add metadata
    holder[-1].obs['ID'] = file
    ##add percent_mito
    mito_genes = [name for name in holder[-1].var_names if name.startswith('mt-')]
    holder[-1].obs['percent_mito'] = np.sum(
        holder[-1][:, mito_genes].X, axis=1).A1 / np.sum(holder[-1].X, axis=1).A1

['220615', '220623', '220628']
开始处理： 220615
... writing an h5ad cache file to speedup reading next time
filtered out 12 cells that have less than 200 genes expressed
filtered out 13102 genes that are detected in less than 3 cells
开始处理： 220623
... writing an h5ad cache file to speedup reading next time
filtered out 23 cells that have less than 200 genes expressed
filtered out 9613 genes that are detected in less than 3 cells
开始处理： 220628
... writing an h5ad cache file to speedup reading next time
filtered out 3025 cells that have less than 200 genes expressed
filtered out 15510 genes that are detected in less than 3 cells
CPU times: total: 1min 38s
Wall time: 1min 38s

In [9]:
%%time
adata = holder[0].concatenate(holder[1:],join='outer',index_unique=None)
adata.X = adata.X.tocsr()

CPU times: total: 703 ms
Wall time: 703 ms

D:\conda\lib\site-packages\anndata\_core\anndata.py:1828: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")
D:\conda\lib\site-packages\anndata\_core\anndata.py:1785: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  [AnnData(sparse.csr_matrix(a.shape), obs=a.obs) for a in all_adatas],
D:\conda\lib\site-packages\anndata\_core\anndata.py:1828: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [10]:
adata.obs

                    n_genes      ID  percent_mito batch
AAACCCAAGACCGCCT-1      615  220615      0.020630     0
AAACCCAAGCAAGTCG-1     1237  220615      0.014971     0
AAACCCAAGGGAGGTG-1      668  220615      0.008014     0
AAACCCAAGGTCACTT-1     1296  220615      0.017918     0
AAACCCAAGTCGCCCA-1      844  220615      0.012138     0
...                     ...     ...           ...   ...
TTTGTTGGTGCCTGAC-1      265  220628      0.026866     2
TTTGTTGGTTCAAACC-1      342  220628      0.016432     2
TTTGTTGGTTTCGCTC-1      362  220628      0.021956     2
TTTGTTGTCGCTAGCG-1      287  220628      0.017241     2
TTTGTTGTCTGTCAGA-1      205  220628      0.007937     2

[48156 rows x 4 columns]

In [11]:
adata.obs['n_counts'] = adata.X.sum(1)
adata.obs['log_counts'] = np.log(adata.obs['n_counts'])
adata.obs['n_genes'] = (adata.X > 0).sum(1)

In [12]:
adata.obs

                    n_genes      ID  percent_mito batch  n_counts  log_counts
AAACCCAAGACCGCCT-1      614  220615      0.020630     0     921.0    6.825460
AAACCCAAGCAAGTCG-1     1237  220615      0.014971     0    2271.0    7.727975
AAACCCAAGGGAGGTG-1      668  220615      0.008014     0    1123.0    7.023759
AAACCCAAGGTCACTT-1     1295  220615      0.017918     0    2623.0    7.872074
AAACCCAAGTCGCCCA-1      842  220615      0.012138     0    1483.0    7.301822
...                     ...     ...           ...   ...       ...         ...
TTTGTTGGTGCCTGAC-1      264  220628      0.026866     2     335.0    5.814131
TTTGTTGGTTCAAACC-1      342  220628      0.016432     2     426.0    6.054440
TTTGTTGGTTTCGCTC-1      362  220628      0.021956     2     501.0    6.216606
TTTGTTGTCGCTAGCG-1      287  220628      0.017241     2     406.0    6.006353
TTTGTTGTCTGTCAGA-1      205  220628      0.007937     2     252.0    5.529429

[48156 rows x 6 columns]

In [13]:
adata.write('./cache/scRNA_merge.h5ad')